h1,
h2 {
  font-family: "Amaranth", sans-serif;
}

.separacion {
  margin-bottom: 0;
}

.modal-form {
  padding: 1rem 0;

  .name-container {
    width: 60%;
    margin-top: 1;
    margin-right: 10rem;
  }

  .spacer {
    width: 29%;
    margin-right: 1rem;
  }

  label {
    margin-top: 1rem;
    margin-right: 10px;
  }

  .container {
    margin-top: 4rem;
    display: inline;
    font-size: medium;
  }

  .container-dos {
    display: inline;
  }

  .img-preview {
    max-width: 140px;
    max-height: 140px;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .form-control {
    width: 20%;
    display: inline;
  }

  .option-container {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .ocultos {
    display: inline;
  }

  .spacer-dos {
    width: 30%;
    margin-top: 1rem;
  }

  .spacer-tres {
    width: 20%;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .spacer-cuatro {
    width: 38%;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .spacer-cinco {
    width: 12%;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .separacion-dos {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .total {
    margin-left: 41%;
    margin-right: 41%;
    margin-top: 1rem;
    width: 15%;
    text-align: center;
  }

  .option-container-dos {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 13%;
  }

  .option-container-tres {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 19.5%;
  }

  .option-container-cuatro {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 23.5%;
  }

  .option-container-cinco {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 15%;
  }

  .option-container-seis {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 10%;
  }

  .option-container-siete {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 11%;
  }

  .option-container-ocho {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 16%;
  }

  .diferencia {
    margin-left: 41%;
    margin-right: 41%;
    margin-top: 1rem;
    width: 19%;
    text-align: center;
  }

  .full-width-container {
    width: 100%;
  }

  .domicilio-camp {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .domicilio-camp-dos {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    width: 25%;
  }

  .menores {
    margin-left: 1rem;
    width: 18%;
  }
}
