<div class="login-form">
  <mat-card>
    <mat-card-content>
      <p class="container">Acceso</p>
      <form [formGroup]="userForm.baseForm" (ngSubmit)="onLogin()">
        <mat-form-field class="full-width-input">
          <input
            text="text"
            formControlName="email"
            matInput
            placeholder="Correo Electrónico"
            required
          />
          <mat-error *ngIf="checkField('email')">
            {{ userForm.errorMessage }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input separator">
          <input
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            matInput
            placeholder="Contraseña"
            required
          />
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="checkField('password')">
            {{ userForm.errorMessage }}
          </mat-error>
        </mat-form-field>
        <button
          [disabled]="userForm.baseForm.invalid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Acceder
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>