<div class="pass-form">
  <mat-card>
    <mat-card-content>
      <p class="container">Cambio de contraseña</p>
      <form [formGroup]="passForm.baseForm" (ngSubmit)="changePass()">
        <h3>Por favor introduce tu actual contraseña</h3>
        <mat-form-field class="full-width-input">
          <input
            [type]="hide ? 'password' : 'text'"
            formControlName="oldPassword"
            matInput
            placeholder="Contraseña actual"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="checkField('oldPassword')">
            {{ passForm.errorMessage }}
          </mat-error>
        </mat-form-field>
        <h3>Por favor introduce tu nueva contraseña</h3>
        <mat-form-field class="full-width-input separator">
          <input
            [type]="hide2 ? 'password' : 'text'"
            formControlName="newPassword"
            matInput
            placeholder="Contraseña nueva"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
          >
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="checkField('newPassword')">
            {{ passForm.errorMessage }}
          </mat-error>
        </mat-form-field>
        <button
          [disabled]="passForm.baseForm.invalid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Cambiar contraseña
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
